*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5f8cd0;
}
.calculator{
    width: 400px;
    height: 600px;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calculator h2{
    font-size: 40px;
    margin: 10px 0px;
    text-align: center;
    letter-spacing: 10px;
    color: #3663b7;
    font-family: cursive,sans-serif;
}
.inp{
    margin: 10px;
    width: 90%;
}
.inp input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #333131;
    box-shadow: 10px 10px 10px #827f7f;
    border: 2px solid #000;
    border-radius: 10px;
}
input[placeholder]{
    opacity: 0.3;
    color: #ffffff;
    text-align: right;
    font-size: 40px;
}
.calculator .buttons{
    width: 100%;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.buttons button{
    padding: 5px;
    border: none;
    border-radius: 50%;
    color: #fff;
    background-color: #1e1e1e;
    margin: 7px 12px;

    width: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 4px 4px 4px #4e4d4d, 
     -4px -4px 4px #4e4d4d;
     cursor: pointer;
}
.buttons .operator{
    color: #30db05;
}
.buttons .equal{
    color: #fa7e02;
}